<h1>Tasks</h1>
<ul>
  <% @tasks.all.each do |task| %>
    <li><a href="<%= task_path(task.id) %>"><%= task.name %></a>
      <ul>
        <li>
          [<a href="<%= edit_user_path(task.id) %>">edit task</a>]
          [<a href="<%= user_path(task.id) %>" data-method="delete" data-confirm="Are you sure?">delete task</a>]
        </li>
      </ul>
    </li>
  <% end %>
  <li><p><a href="<%= new_task_path %>">New Task</a></p></li>
</ul>